a:focus {
    text-decoration: none
}

.navbar-header #navlist {
    position: absolute;
    top: 70px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}
select, input{
    border: none;
    outline: none;
    appearance: none;
}

/* 翻译模块 start */
.translate-wrap {
    position: relative;
    padding-top: 20px;
    z-index: 0;
}

.translate-wrap .translate-left,
.translate-wrap .translate-right {
    height: 270px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.translate-wrap .translate-left {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.translate-wrap .translate-left .form-control {
    width: 100%;
    height: 190px;
    border: none;
    outline: none;
    padding: 0;
    resize: none;
    box-shadow: none;
}

.translate-wrap .translate-left .fix-btn {
    position: absolute;
    bottom: 0;
    padding: 10px 0 10px 20px;
}

.translate-wrap .translate-left .fix-btn button {
    width: 120px;
}

.translate-wrap .translate-right {
    background: #2e5266;
    margin-top: 0;
    padding: 60px 20px;
    display: flex;
    justify-content: space-around;
}

.translate-wrap .translate-right .qrcode-box {
    width: 130px;
    text-align: center;
}

.translate-wrap .translate-right .qrcode-box img {
    width: 100px;
    height: 100px;
}

.translate-wrap .translate-right .qrcode-box p {
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}

/* 翻译模块 end */

/* 粤语课程 start */
.video-wrap .video-item {
    display: flex;
    padding: 15px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.video-wrap .video-item .poster {
    width: 235px;
    height: 130px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

@media (max-width: 769px) {
    .video-wrap .video-item .poster {
        width: 180px;
        height: 100px;
    }
}

@media (max-width: 414px) {
    .video-wrap .video-item .poster {
        width: 140px;
        height: 100px;
    }
}

.video-wrap .video-item .poster img {
    width: 100%;
    height: 100%;
}

.video-wrap .video-item .info {
    position: relative;
    flex: 1;
}

.video-wrap .video-item .info .text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.video-wrap .video-item .info .label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    color: #999;
}

/* 翻译模块 end */

/* 页脚 start */
.footer {
    padding: 30px 0 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer a {
    color: #A7A7A7;
}

.pull-right {
    float: right;
}

/* 页脚 end */