a:focus {
    text-decoration: none
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

select,
input {
    border: none;
    outline: none;
    appearance: none;
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
}

.btn-bg1 {
    background: #6E8897;
    border-color: #6E8897;
    color: #fff;
}

.btn-bg2 {
    background: #8E9BA3;
    border-color: #8E9BA3;
    color: #fff;
}

.btn:hover {
    color: #fff;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* header */
.nav-wrap {
    height: 80px;

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        padding: 20px 0;
        background: #fff;
    }

    a.w50 {
        display: inline-block;
        min-width: 50px;
    }
   
}

.navbar-header #navlist {
    position: absolute;
    top: 70px;
    z-index: 10;
    color: #8e9ba3;
    background-color: #f8f9fa;
  }

  .navbar-header #navlist img{
      width: 18px;
      height: 18px;
  }
  
  .navbar-header #navlist span.align-middle {
    display: inline-block;
    width: 90px;
    padding-left: 9px;
    line-height: 18px;
    height: 18px;
    text-align: justify;
    padding-right: 4px;
    
  }

  .navbar-header #navlist span.align-middle::after{
    content:"";
    display: inline-block;
    width:100%;
    overflow:hidden;
    height:0;
  }

#courselist{
    li{
        padding-top: 8px;
        span{
            width: 18px;
            text-align: center;
            display: inline-block;
            line-height: 18px;
        }
        .align-middle{
            width: 80px;
        }
    }
    li:last-child{
        padding-bottom: 8px;
    }
}



/* content-box */
.content-box {
    width: 100vw;
    min-height: calc(100vh - 80px);
    background: url('../img/background4.jpg') no-repeat;
    background-size: 100% auto;
    padding: 30px 0;
    margin-top: 24;
    background-attachment: fixed;
    .white-content {
        width: 700px;
        min-height: 500px;
        background-color: white;
        border-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin: 0 auto;
        padding: 20px 30px;
    }
}

/* footer */
.footer {
    padding: 30px 0 20px;
    text-align: center;

    a {
        display: inline-block;
        color: #A7A7A7;

        &:first-child {
            margin-left: 20px;
        }
    }
}


.pull-right {
    float: right;
}



@media screen and (min-width:600px) and (max-width:1024px){
    body .tooltip{display: none;}
    .translate-wrap .row .translate-content>.change-list{
      top:135px;
    }
  }
  
  
  
  @media screen and (min-width: 320px)and (max-width: 750px) {
    html, body {
      background: #fff;
      font-size: 14px;
      padding-top: 40px;
    }
    body .tooltip{display: none;}
    .nav-wrap {
        height: auto;
        
        .navbar{
            background: #fff;
            padding: 20px 10px;
        }
    }
    #navlist{
        .code-box{
            display: none;
        }
    }
    .video-wrap .video-item .poster {
      width: 180px !important;
      height: 100px !important;
    }
    #code-content {
      display: none;
    }
    #footer {
      display: none;
    }
    .translate-wrap .translate-content  .mobile-chang_icon {
      display: block;
    }
    .pc-change_icon {
      display: none;
    }
    .content-box {
      background: none;
      padding: 0;
    }
    .content-box .white-content {
      width: 100vw;
      padding: 15px;
    }
    .video-wrap .video-item .poster {
      width: 140px !important;
      height: 100px !important;
    }
    .item /deep/ .col-xl-auto{
        padding: 0 !important;
    }
  }
  
  