/* translate*/
.translate-wrap {
    position: relative;
    z-index: 0;
    padding-top: 10px;
    .translate-left,
    .translate-right,
    .translate-content {
        min-height: 300px;
        border: 1px solid #eee;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 20px;
    }

    .translate-left {
        position: relative;
        padding-bottom: 60px;
        margin-bottom: 20px;
        background: #eee;

        .form-control {
            width: 100%;
            height: 190px;
            border: none;
            outline: none;
            padding: 0;
            resize: none;
            box-shadow: none;
            padding-right: 30px;
            background: #eee;
        }

        .fix-btn {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px;

            button {
                width: 100px;
                color: #fff;
                height: 30px;
                line-height: 30px;
                padding: 0;

                &.trans-btn {
                    background: #6E8897;
                    border-color: #6E8897;
                }

                &.spell-btn {
                    background: #8E9BA3;
                    border-color: #8E9BA3;
                }
            }
        }
    }

    .translate-right {
        background: #2e5266;
        margin-top: 0;
        padding: 60px 20px;
        display: flex;
        justify-content: space-around;

        .qrcode-box {
            width: 130px;
            text-align: center;

            img {
                width: 100px;
                height: 100px;
            }

            p {
                margin-top: 10px;
                color: #fff;
                font-size: 14px;
                line-height: 22px;
            }

        }
    }

    .translate-content {
        display: none;
        background: #2e5266;

        img {
            width: 25px;
        }

        .pron-text {
            color: #ecc349;
            margin: 0 5px;
        }

        .button-content {
            position: relative;
        }

        .mobile-change{
            display: none;
        }

        .change-option{
            position: relative;
        }

        .change-list {
            position: absolute;
            top: 30px;
            right: -100px;
            z-index: 100;
            color: #859ead;
            font-size: 14px;
            min-width: 200px;
            cursor: pointer;
            li{
                height: 30px;
                line-height: 30px;
            }
            li:nth-child(odd) {
                background: #1c3a47;
            }

            li:nth-child(even) {
                background: #000;
            }
        }

        .mobile-chang_icon {
            display: none;
        }
    }
}

.textarea-clear-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    display: none;
    background-repeat: no-repeat;
    background-image: url(../img/index_z_b19b64f.png);
    background-position: -20px -10px;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .translate-left {
        min-height: 150px !important;
        .form-control {
            height: 100px !important;
        }
    }
    .translate-right {
        display: none !important;
    }
}


/* course video */
.nav-tabs {
    li.active {
        border-bottom: 2px solid #6E8897;
        padding: 5px 10px;

        a {
            color: #6E8897;
        }
    }
}

.video-wrap {
    margin: 0;

    .video-item {
        a {
            width: 100%;
            display: flex;
            padding: 15px 0;
            border-bottom: 1px solid #ddd;

            .poster {
                width: 235px;
                height: 130px;
                border: 1px solid #ddd;
                border-radius: 5px;
                margin-right: 10px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .info {
                position: relative;
                flex: 1;
                overflow: hidden;

                .text {
                    color: #333;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .label {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    margin: 0;
                    font-size: 14px;
                    color: #6E8897;
                }
            }
        }
    }
}


