.loginBox{
    width: 100vw;
    // height: 600px;
    background-color: red;
    margin: 0 auto;
    padding: 30px 0;
    .login{
        width: 500px;
        background-color: white;
        border-radius: 15px;
        // height: 400px;
        padding: 30px;
        .name{
            text-align: center;
            margin-bottom: 10px;
        }
        .div{
            width: 100%;
            font-size: 16px;
            border: 1px solid #333;
            border-radius: 6px;
            height: 30px;
            margin-bottom: 10px;
            .titleLeft{
                display: inline-block;
                width: 40%;
                min-width: 140px;
                line-height: 28px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                border-right: 1px solid #333;
                text-indent: 10px;
                background-color: #eee;
            }
            .signInput{
                width: 50%;
                max-width: 250px;
                height: 28px;
            }
            .telInput{
                line-height: 28px;
                text-indent: 10px;
            }
            .codeInput{
                line-height: 28px;
                text-indent: 10px;
                width: 54%;
            }
            &.flex{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .codeBtn{
                width: 46%;
                line-height: 30px;
                text-align: center;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                color: white;
                font-size: 12px;
                background-color: #919ba2;
                display: inline-block;
            }
        }
        .loginBtn{
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 6px;
            background-color: #738796;
            font-size: 14px;
            color: white;
            margin-bottom: 20px;
        }
        .error{
            width: 100%;
            text-align: center;
            font-size: 14px;
            color: red;
            margin-bottom: 30px;
        }
        .qr{
            margin-bottom: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .qrImg{
                width: 100px;
                height: 100px;

            }
        }
    }
}
@media (max-width: 769px) {
    .loginBox{
        background-color: white;
        .login{
            width: 100vw;
            padding: 15px;
        }
    }
}