.btn{
    color: #fff !important;
    position: relative;
    .arrow-up{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 10px;
        height: 10px;
    }
    .arrow-down{
        display: none;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 10px;
        height: 10px;
    }
}
.tableVip{
    display: none;
}
.usercenter-box .list{
    margin-top: 20px;
}
.usercenter-box .list .item {
    height: 200px;
    width: 50%;
    margin-bottom: 10%;
    position: relative;
}

.usercenter-box .list .item  .sale-icon{
    width: 100px;
    height: 100px;
    position: absolute;
    top:-10px;
    left: -10px;
}

.usercenter-box .list .item .content {
   font-size: 18px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
}

.usercenter-box .list .item .content div{
    margin-top:15px;
}

.usercenter-box .list .item .content .title .img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.usercenter-box .list .item .content .title .text {
    color: #e6c35f;
    font-size: 22px;
}

.usercenter-box .list .item .content .price{
    color: #2c5365;
}

.usercenter-box .list .item .content .price .price-text {
    font-size: 32px;
    color: #2c5365;
}


.usercenter-box .list .item .content .price.del {
    text-decoration: line-through;
    color: #2c5365;
}

.usercenter-box .list .item .content .buy-text {
    color: #999;
}

.usercenter-box .list .item .content .buy-active {
    color: #d32f25;
}

.usercenter-box .list .item .content .buy-active  .price-text{
    color: #d32f25;
}

.usercenter-box .list .item .buy {
    width: 100%;
    display: inline-block;
    background-color: #ebc448;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.usercenter-box .list .item:nth-of-type(2n+2) {
    margin-right: 0;
}

.paln-table {
    border-collapse: separate;
}

.paln-table td,
.paln-table .table th {
    border: none;
    text-align: center;
}

.paln-table .c-plus {
    color: #ecc349;
}

.paln-table .info-content {
    width: 36%;
}

.paln-table .user-content {
    width: 23%;
}

.paln-table .plus-content {
    width: 41%;
}

.size-center{
    margin: 0 auto;
    width: 40%;
    height: 20px;
    line-height: 20px;
    text-align: justify;
}

.size-center::after{
    content:"";
    display: inline-block;
    width:100%;
    overflow:hidden;
    height:0;
  }

  @media screen and (min-width: 320px)and (max-width: 750px) {
    .usercenter-box .list .item  .sale-icon{
        width: 55px;
        height: 55px;
        left: -2px;
        
    }
    .usercenter-box .list .item .content{
        font-size: 16px;
    }
    .usercenter-box .list .item .buy{
        height: 30px;
        font-size: 16px;
        line-height: 30px;
    }

  }