<div class="nav-wrap">
    <nav class="navbar-header navbar navbar-expand-lg navbar-light">
        <div class="container  d-flex justify-content-between align-content-center ">
            <a href="#" data-toggle="collapse" data-target="#navlist" class="active-icon text-muted w50">
                <img src="/img/more_icon.png" alt="" srcset="" width="20" height="18">
            </a>
            <ul id="navlist" class="list-group  shadow navlist-content collapse" style="height:auto;">
                <li class="list-group-item border-0">
                    <a href="javascript:void(0)" id="vip-btn" class="text-muted text-decoration-none">
                        <img src="/img/user_icon.png" alt="" srcset=""><span
                            class="align-middle">会员中心</span></a>
                </li>
                <li class="list-group-item border-0">
                    <a href="javascript:void(0)" id="collect" class="text-muted text-decoration-none">
                        <img src="/img/collection_icon.png" alt="" srcset=""><span
                            class="align-middle">收藏夹</span></a>
                </li>
                <li class="list-group-item border-0">
                    <a href="#" class="text-muted text-decoration-none header-course_option" 
                    >
                        <img src="/img/course_icon.png" alt="" srcset=""><span
                            class="align-middle">粤语课程</span></a>
                    <ul id="courselist" class="w-100 collapse">
                        <li class="bg-light text-secondary"><a href="#"
                                class="text-muted text-decoration-none w-100 align-middle d-block"><span>1.</span><span
                                    class="align-middle">零基础课程</span></a></li>
                        <li class="bg-light text-secondary"><a href="#"
                                class="text-muted text-decoration-none w-100 align-middle  d-block"><span>2.</span><span
                                    class="align-middle">分类词汇</span></a></li>
                        <li class="bg-light text-secondary"><a href="#"
                                class="text-muted text-decoration-none w-100 align-middle  d-block"><span>3.</span><span
                                    class="align-middle">发音规律</span></a></li>
                    </ul>
        
                </li>
                <li class="list-group-item border-0">
                    <a href="/page/about.html#contact" class="text-muted text-decoration-none">
                        <img src="/img/phone_icon.png" alt="" srcset="" ><span
                            class="align-middle">联系我们</span></a>
                </li>
                <li class="list-group-item border-0 text-center code-box">
                    <img src="/img/gzh.png" alt="" srcset="" width="80">
                </li>
            </ul>

            <a href="/"> <img height="40" src="/img/logo2.png" tppabs="" />
            </a>

            <a class="text-muted text-decoration-none w50" href="/page/login.html" tppabs="">
                <img src="/img/user_icon.png" alt="" width="17" height="20">
                <span class="align-middle">登录</span> 
            </a>

            <!-- <a class="text-muted text-decoration-none w50" href="javascript:void(0)" id="exit-btn" tppabs="">
                <img src="/img/user_icon.png" alt="" width="17" height="20">
                <span class="align-middle">退出</span> 
            </a> -->
       
        </div>
    </nav>
</div>

<!-- 未登录弹出模态框 -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">提示</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                会员特权，请登录后使用
            </div>
            <div class="modal-footer">
                <button type="button" id="close-modal" class="btn btn-secondary">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 退出登录弹出模态框 -->
<div class="modal fade" id="exitModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">提示</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                所有会员功能退出后将无法使用，您确认要退出吗
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" id="close-modal2" class="btn btn-secondary">确认退出</button>
            </div>
        </div>
    </div>
</div>
